/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}

/* Header and Navigation */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Home Section */
#home {
  background: url('b3.jpg') no-repeat center center/cover;
  color: #fff;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #f14d4d
}

#home p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #f14d4d;
}

#home img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* Section Styling */
section {
  padding: 2rem 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

/* Skills Section */
#skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

#skills ul li {
  background: #f4f4f4;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Projects Section */
#projects .project {
  background: #f4f4f4;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#projects .project h3 {
  margin-top: 0;
}

#projects .project a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

#projects .project a:hover {
  text-decoration: underline;
}

/* Contact Section */
#contact form {
  display: flex;
  flex-direction: column;
}

#contact form label {
  margin: 0.5rem 0;
}

#contact form input,
#contact form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

#contact form button {
  padding: 0.5rem;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#contact form button:hover {
  background-color: #555;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

footer p {
  margin: 0;
}
